<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">



<head>
<link th:include="fragments/head">
	<title>Log in</title>
    
    <form th:action="@{/signup}" method="get">
			<button class="btn btn-md btn-primary btn-block" name="Submit"
				type="Submit">Sign up</button>
	</form>
</head>


<body>
    <div class="container">
     <div th:replace="fragments/navbar"></div>
        <h2>Hey there!</h2> 
        <form th:action="@{/login}" method="post"><br/>
            <input type="text" id="username" name="username" th:placeholder="Username" class="form-control"/> <br/>
            <input type="password" th:placeholder="Password" id="password" name="password" class="form-control"/> <br/>
            <div align="center" th:if="${param.error}">
                <h4 style="color: red">Login unsuccessful.</h4>
            </div>
            <button class="btn btn-md btn-success btn-block" name="Submit" value="Login" type="Submit">Log in</button> 
        </form>      
    </div>
    	<script th:replace="fragments/scripts"></script>
</body>
</html>